<?xml version="1.0"?>
<launch>
  <!--Rosbridge for web-->
  <include file="$(find flo_web)/launch/web_app.launch"/>
  <!--System Monitoring-->
  <node name="system_monitor" pkg="system_monitor" type="stats_publisher.py"/>
  <!--Telepresence-->
  <include file="$(find flo_telepresence)/launch/webrtc.launch"/>
  <!--Audio-->
  <include file="$(find flo_telepresence)/launch/audio.launch"/>
  <!--Screen on Robot-->
  <node name="robot_screen" pkg="flo_telepresence" type="display-cv.py"/>

<!--Mantaro nodes-->
<node name="mantaro_controller" pkg="mantaro" type="mantaro_controller_teleop.py"/>

<!--camera-->
 <include file="$(find video_stream_opencv)/launch/camera.launch">
    <arg name="camera_name" value="mantaro_cam"/>
    <arg name="video_stream_provider" value="0"/>
    <!--Should be 1280:-->
    <arg name="width" value="640"/>
    <!--Should be 1024:-->
    <arg name="height" value="480"/>
    <!--Should be 30-->
    <arg name="set_camera_fps" value="30"/>
  </include>
</launch>
